




html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
 }
 
 body {
    background: #A8D0E6;
    font-family: fSB, sans-serif;
    font-size: 15px;
    line-height: 30px;
     color: #fff;
 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
 }


 
 
 strong { font: 15px/30px fSB, sans-serif; }



 .row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    content: " ";
    display: table;
    clear: both;
 }
 
.columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
 }

 
 .row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
 }

 .colB {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0 20px;
}


/* =============================== LAYOUT =============================== */




.intro-info .lead{
  text-align: left; 
  padding-left: 13rem;
}

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: fSB, sans-serif;
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: .4rem; 
}




 header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
 }
 

 header .banner-text h1 {
    font: 90px/1.1em fSB, sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
 }
 
#nav {
  font: 12px fSB, sans-serif; background-color: #FFF;
   position: fixed;
   top: 0;
   width: 100%;
   text-align: center;
   letter-spacing: 5px;
   transition: top 0.3s;
   z-index:100;
}

 #nav a {
  font-family: fSB, sans-serif;
  color: #000000;
  padding: 30px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}



  .about-content {
    position: relative;
    text-align: left;
    max-width: 850px;
    margin-bottom: 3.6rem;
  }
  

  
  #resume {
     background: #fafafa;
     padding-top: 90px;
     padding-bottom: 72px;
     color: #6a6a67;
  }
  
  #resume .resume-header {
    text-align: center;
  }

  #resume .exp-wrap {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
  #resume .exp-wrap::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
  }
  #resume .exp-block {
    
    position: relative;
    padding-top: 1.5rem;
  }
  
  #resume .exp-header {
    float: left;
    width: 35%;
    padding-right: 0px;
    text-align: left;
  }

  #resume .exp-header p {
    font-family: fSB, sans-serif;
    font-size: 1.6rem;
    color: #4F4F4B;
  }
  #resume .exp-content {
    margin-left: 35%;
    padding-left: 60px;
  }
  #resume .exp-content h4 {
    position: relative;
    padding-bottom: 1.8rem;
  }
  #resume .exp-content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 150px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  





 
 .contact-info {
   margin: 4.8rem auto 0;
   font-family: fSB, sans-serif;
   font-size: 1.5rem;
   text-align: center;
 }



#portfolio {
  background: #e3e2e2;
    padding-top: 90px;
    padding-bottom: 60px;
    height: 100vh;
    padding-top: 90px;
 }

 .container
{
  margin-left: 10vw;
  margin-right: 10vw;
}

.card
{
  width: 400px;
  height: 300px;

  float: left;
  margin: 50px;
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.face-face1, .face-face2{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: 1px solid #2b2b2b;
}

.face-face1 {
  background: #eaeaea;
  color: black;
  padding: 60px;
}

/* Style the back side */
.face-face2 {
  background-color: #9d9d9d;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
}

@media (max-width: 2500px) {
  .container
  {
    margin-left: 30vw;
    margin-right: 20vw;
  }
}
@media (max-width: 2000px) {
  .container
  {
    margin-left: 20vw;
    margin-right: 10vw;
  }
  .card
  {
    width: 300px;
    height: 225px;
  }
  .face-face1 .content{
    font-size: 1rem;
  }
  .face-face2 .content{
    font-size: 0.6rem;
  }
  .face-face1{
    padding: 20px;
  }
  .face-face2{
    padding: 10px;
  }
}
@media (max-width: 1200px) {
 .container
 {
   margin-left: 30vw;
 }
}

@media (max-height: 1000px) {
  #portfolio {
    height: 150vh;
 }
 }



 @media (max-width: 600px) {
  html {
      font-size: 32.5%;
  }
 
 body {
    font-size: 15px;
 }

 #portfolio {
  height: 200vh;
}
 .container
 {
   margin-left: 0vw;
 }
 


.section-intro h1 {
  font-size: 1.6rem;
}


  #resume .exp-header p {
    font-size: 0.6rem;
  }
 .contact-info {
   font-size: 0.6rem;
 }
 .intro-info img {
  float: none;
}
.intro-info .lead{
  text-align: center; 
  padding-left: 5rem;
  padding-right: 5rem;
}
 #nav {
  display: none;
 }
.colB{
  font-size: 10px;
}
   
 strong { font-size: 10px;}
 span { 
  font-size: 10px;
  }
 }