@font-face {
    font-family: fSB;
    src: url(./Figtree/static/Figtree-SemiBold.ttf);
}

html, body, div
{
    margin: 0;
    vertical-align: center;
}

nav,section, header {
    display: block;
 }

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
 }
 
 body {
    background: #A8D0E6;
    font-family: fSB, sans-serif;
    font-size: 15px;
    line-height: 30px;
     color: #fff;
 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
 }


 
 
 strong { font: 15px/30px fSB, sans-serif; }

ul  {
     margin-bottom: 24px; margin-top: 12px; 
     list-style: none outside; 

    }
 
 .button,
 button {
    font: 16px/30px fSB, sans-serif;
    background: #24305E;
    display: inline-block;
     text-decoration: none;
    color: #fff;
     padding: 12px 20px;
     margin-bottom: 18px;
    cursor: pointer;
    height: auto;
 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
 }

 .button-section {
    text-align: center;
  }
  .button-section .button {
   margin-left: 15px;
    width: 250px;
  }


 .row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    content: " ";
    display: table;
    clear: both;
 }
 
.columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
 }

 
 .row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
 }




 .colA {
    width: 100%;
    padding: 0 20px;
    
 }

 .colB {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 20px;
 }
  
 .colC {
    width: 33.33333%;
    padding: 0 20px; 
    display: inline-block;
   }

/* =============================== LAYOUT =============================== */

body { background: #A8D0E6; }

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: fSB, sans-serif;
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: .4rem;
}

 header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #374785 no-repeat top center;
    text-align: center;
    overflow: hidden;
 }

 header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
 }
 

 header .banner-text h1 {
    font: 90px/1.1em fSB, sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
 }
 

 ul#nav li {
    display: inline-block;
 }
 
 ul#nav li a {
    display: inline-block;
    padding: 8px 25px;
    text-decoration: none;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 1rem;
 }
 
 ul#nav li.current a { color: #A8D0E6; }

  .about-content {
    position: relative;
    text-align: left;
    max-width: 850px;
    margin-bottom: 3.6rem;
  }
  
#resume .section-intro h1, h2 {
    color: #A8D0E6;
  }
  
  #resume {
     background: #24305E;
     padding-top: 90px;
     padding-bottom: 72px;
  }
  
  #resume .resume-header {
    text-align: center;
  }

  #resume .exp-wrap {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
  #resume .exp-wrap::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
  }
  #resume .exp-block {
    
    position: relative;
    padding-top: 1.5rem;
  }
  
  #resume .exp-header {
    float: left;
    width: 35%;
    padding-right: 0px;
    text-align: left;
  }

  #resume .exp-header p {
    font-family: fSB, sans-serif;
    font-size: 1.6rem;
    color: #888888;
  }
  #resume .exp-content {
    margin-left: 35%;
    padding-left: 60px;
  }
  #resume .exp-content h4 {
    position: relative;
    padding-bottom: 1.8rem;
  }
  #resume .exp-content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 150px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  



 #contact {
  background: #24305E;
   padding-top: 12rem;
   padding-bottom: 7.2rem;
 }
 #contact .section-intro h1 {
   color: white;
 }
 #contact .section-intro h5 {
   color: #F06000;
 }

 
 .contact-info {
   margin: 4.8rem auto 0;
   font-family: fSB, sans-serif;
   font-size: 1.5rem;
   text-align: center;
 }

 .contact-info h5 {
   color: #F06000;
 }

#portfolio {
    background: #ffa2a2;
    padding-top: 90px;
    padding-bottom: 60px;
    height: 100vh;
    padding-top: 90px;
    
 }

 .container
{
  margin-left: 10vw;
  margin-right: 10vw;
}

.card
{
  width: 400px;
  height: 300px;

  float: left;
  margin: 50px;
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.face-face1, .face-face2{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: 1px solid #f1f1f1;
}

.face-face1 {
  background: #d8a3a3;
  color: black;
  padding: 60px;
}

/* Style the back side */
.face-face2 {
  background-color: #d8a3a3;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
}
