<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

   <meta charset="utf-8">
	<title>John's Personal Website</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="viewport" content="width=600, initial-scale=1">

   <link rel="stylesheet" href="app.component.scss">


	<link rel="shortcut icon" href="C:\Users\johng\OneDrive\Documents\GitHub\John-Glass.github.io\johnglass2003\src\assets\ocKu7OUcxegAAAABJRU5ErkJggg==.png">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFSK6W596W"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-LFSK6W596W');
   </script>
   <script src="assets/js/navscroll.js"></script>
   <script src="assets/js/nav.js"></script>
</head>
<body>
   <div id="nav">
      <a class="ss" href="#home">Home</a>
      <a class="ss" href="#about">About</a>
      <a class="ss" href="#resume">Resume</a>
      <a class="ss" href="#portfolio">Projects</a>
      <a class="ss" href="#involvement">Involvement</a>
      <a class="ss" href="#contact">Contact</a>
   </div>
   <header id="home" style="height: 100vh;">

      <div class="row banner" style="display: inline-block; vertical-align: middle; margin: 0 auto; width: 85%; padding-bottom: 30px; text-align: center;">
         <div class="banner-text" style="animation: fadeIn1 3s;">
            <h1 class="responsive-headline">John Glass</h1>
            <h3> <span>Software Engineer</span> | <span>Data Analyst</span> | <span>Full Stack Developer</span></h3>
            <hr />
            <ul class="social" style="display: inline-block;">
               <a href="https://github.com/johnglass2003"><i class="fa fa-github" style="animation: fadeIn3 2s;"><img src="\assets\GitHub-Mark-Light-64px.png"></i></a>
               <a href="https://www.linkedin.com/in/john-g-6860931a6/"><i class="fa fa-linkedin" style="margin-left: 40px; animation: fadeIn4 3s;"><img src="\assets\in.png"></i></a>
               <a href="mailto:johnglass0904@gmail.com"><i class="fa fa-envelope" style="margin-left: 40px; animation: fadeIn5 4s;"><img src="\assets\email.png"></i></a>
            </ul>
            <p class="ss" style="margin-left: 40px;">
               <a class="ss" href="#about" style="text-align: center; animation: fadeIn2 5s;"><i class="icon-down-circle"></i></a>
            </p>
         </div>
</div>
   </header>
   <section id="about" style="padding-top: 7rem;padding-bottom: 8rem; background: #a1b9c5; ">  
      <div class="row section-intro" style="margin-bottom: 3rem;">
         <div class="colA">
            <h5>About</h5>
            <h1>Let me introduce myself.</h1>
            <div class="intro-info" style="margin-top: 4.2rem; margin-right: -100px; margin-left: -100px;">
               <img src="/assets/JGHeadShot.jpg" alt="Profile Picture">
               <p class="lead">I am a University Scholars Program Scholarship Recipient majoring in Computer Science and minoring in Electrical Engineer pursuing my Bachelor of Science degree at the University of Florida. I am a passionate person driven by a constant desire to learn and grow. My primary interests include anything related to a computer, working out, and music! </p>
            </div>            
         </div>         
      </div> 
      <div class="row about-content">
         <div class="colB tab-full">
            <div class="toHide">
            <h3>Profile</h3>
            <p>I am a Software Engineer and part-time data analyst open to all oppurtunities. If I'm a good fit, please contant me via <a href="mailto:johnglass0904@gmail.com">johnglass0904@gmail.com</a>.</p>

            <ul class="info-list">
               <li>
                  <strong>Fullname:</strong>
                  <span>    John Glass</span>
               </li>
               <li>
                  <strong>Email:</strong>
                  <span>   johnglass0904@gmail.com</span>
               </li>
            </ul>
         </div>
         </div>
         <div class="colB tab-full">
            <h3>Skills</h3>
            <p>I'm a driven teamworker equiped with a strong coding skill set. Below are highlights of my technical skills:</p>
              <li>
                <strong>C/C++</strong>
             </li>
             <li>
               <strong>Golang</strong>
            </li>
             <li>
              <strong>Python</strong>
             </li>
             <li>
              <strong>Java</strong>
           </li>
           <li>
            <strong>HTML/CSS</strong>
         </li>
         <li>
            <strong>C#</strong>
         </li>
           <li>
            <strong>JavaScript</strong>
         </li>
         <li>
            <strong>TypeScript</strong>
         </li>
         <li>
            <strong>Angular, React, ASP.NET, Node.js, RESTful APIs, Git, SQL, NoSQL, GORM</strong>
         </li>

              
         </div>
      </div>
      <div class="row button-section" style="text-align: center;">
         <div class="colA">
            <a href="#contact" title="Hire Me" class="button stroke ss" style="    font: 16px/30px fSB, sans-serif;
            background: #303c69;
            display: inline-block;
             text-decoration: none;
            color: #fff;
             padding: 12px 20px;
             margin-bottom: 18px;
            cursor: pointer;
            height: auto;
         
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;
            border-radius: 3px;
            margin-left: 15px;
            width: 250px;">Hire Me</a>
            <a href="/assets/John-Glass-Resume.pdf" title="Download Resume" class="button button-primary" style="    font: 16px/30px fSB, sans-serif;
            background: #303c69;
            display: inline-block;
             text-decoration: none;
            color: #fff;
             padding: 12px 20px;
             margin-bottom: 18px;
            cursor: pointer;
            height: auto;
         
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;
            border-radius: 3px;
            margin-left: 15px;
             width: 250px;">Download Resume</a>
         </div>         
      </div>
   </section>
   <section id="resume">
      <div class="row section-intro">
         <div class="colA">
            <h5 style="color: #6a6a67">Resume</h5>
            <h1>More of my credentials.</h1>
            <p class="lead">Here are my work experiences and education.</p>
         </div>  
      </div>
      <div class="row resume-exp">
         <div class="colA resume-header">
            <h2>Work Experience</h2>
         </div> 
         <div class="colA">
            <div class="exp-wrap">
                <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Software Engineering Intern</h3>
                     <p>May 2023 - Aug 2023</p>
                  </div>
                  <div class="exp-content">
                     <h4>UKG (Ultimate Kronos Group)</h4>
                     <p> Optimized a local testing environment's setup, backup, and restore by 30% by using bash shell scripts and migrating
                        the database to a remote artifactory.                        
                     </p>
                     <p>Aided in the development of customizable user dashboards by expanding the functionality of 3 ASP .NET Web APIs
                        utilizing C# and JavaScript allowing several features of the website to be changed.
                        </p>
                  </div>
               </div> 
               <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Spatial Audio Localization Research Assistant, Software Engineer</h3>
                     <p>Oct 2022 - Present</p>
                  </div>
                  <div class="exp-content">
                     <h4>U.F. Department of Computer and Information Science and Engineering Research</h4>
                     <p> The 3D Spatial Audio Localization Research Team could not properly utilize Marvelmind location data with their
                        audio processing systems. Constructed a Python API for sending, receiving, and preforming calculations on the data
                        and implemented it on a Python server I deployed to enable their 3D sound rendering technology.
                     </p>
                     <p>
                        The team was struggling to visualize the location data and had no remote control over the internal operations of the
                        system. Designed a GUI that displays the data and is configured to remotely control sound rendering operations using
                        Paramiko to connect and communicate with the server.
                     </p>
                     <p>
                        Co-authored a Research Paper that is being published to a professional journal and qualified for a scholarship.
                     </p>
                  </div>
               </div> 
               <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Software Engineer</h3>
                     <p>May 2021 - May 2023</p>
                  </div>
                  <div class="exp-content">
                     <h4>Mitchell Glass LLC</h4>
                     <p> Developed a Python application to process commission data entries from insurance provider CRM databases for 17
                        insurance call centers.
                     </p>
                     <p>
                        Optimized data validation and report creation processes for 10000+ entries weekly, based on legacy Excel
                        framework, to improve performance by 25%.
                     </p>
                  </div>
               </div> 
               <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Full Stack Developer</h3>
                     <p>June 2020 - August 2020</p>
                  </div>
                  <div class="exp-content">
                     <h4>Brick Top Holdings</h4>
                     <p> Designed Brick Top Holding's company website using HTML, CSS, and jQuery. I presented 5-10 protoypes a week to the CEO during the development process. After completing the website, I managed and updated it regularly for 5 months.
                     </p>
                  </div>
               </div> 
               <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Environmental Software Engineering Intern</h3>
                     <p>August 2019 - January 2021</p>
                  </div>
                  <div class="exp-content">
                     <h4>Museum of Discovery and Science</h4>
                     <p> I collaberatively researched environmental issues and solutions. My team and I were trained with C# to create 3D interactive augmented reality exhibits which maximized accessibility to 20+ museum exhibits.
                     </p>
                  </div>
               </div>
         </div> 
         <div class="colA resume-header">
            <h2>Background Education</h2>
         </div>
         <div class="colA">
            <div class="exp-wrap">
               <div class="exp-block">
                  <div class="exp-header">
                     <h3>Bachelor of Science Degree</h3>
                     <p>August 2021 - May 2025</p>
                  </div>
                  <div class="exp-content">
                     <h4>University of Florida</h4>
                     <p>Pursuing my Bachelor of Science degree majoring in Computer Science and minoring in Electrical Engineering. I am a member of Upsilon Pi Epsilon, Univeristy of Florida Association for Computer Machinery, and Society of Software Developers. Relevant Coursework includes: Data Structures and Algorithms, Programming Fundamentals II, Programming Language Concepts, and Introduction to Discrete Structures.</p>
                     <a href="https://cur.aa.ufl.edu/university-scholars-program/">University Scholars Program Scholarship Recipient</a>
                  </div>
               </div> 
            </div>          
         </div> 
        </div>
      </div>
   </section>
   <section id="portfolio">
      <div class="row section-intro">
         <div class="colA">
            <h5 style="color: #6a6a67">Projects</h5>
            <h1 style="color: #4F4F4B;">Check out my <a href="https://github.com/johnglass2003" target="_blank">GitHub</a>! </h1>
         </div>  
      </div>

      <div class="container">
         <div class="card">
            <div class="inner">
            <div class="face-face1">
               <div class="content">
                  <img src="/assets/cache.png">
                  <h3>CacheSimulator</h3>
                  <p>Simulator for Cache Performance</p>
               </div>
            </div>
            <div class="face-face2">
               <div class="content">
                  <p>This Project allows the user to simulate caches based on different data structures to measure preformance. The simulator will produce plots for Hit Rate vs Cache Size, Total Access Time vs Cache Size, and Miss Rate vs Associativity.</p>
                  <div class="button"><a style="font: 16px/30px fSB, sans-serif;
                     background: #303c69;
                     display: inline-block;
                      text-decoration: none;
                     color: #fff;
                      padding: 12px 20px;
                      margin-bottom: 18px;
                     cursor: pointer;
                     height: auto;
                  
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     -khtml-border-radius: 3px;
                     border-radius: 3px;
                     margin-left: 15px;
                      width: 250px;" href="https://github.com/johnglass2003/GOOPDemo" target="_blank">Check Me Out on GitHub!</a></div>
               </div>
            </div>
         </div>
         </div>
         <div class="card">
            <div class="inner">
            <div class="face-face1">
               <div class="content">
                  <img src="/assets/goop.png">
                  <h3>GOOP</h3>
                  <p>Personal Game Development Project</p>
               </div>
            </div>
            <div class="face-face2">
               <div class="content">
                  <p>The Personal Game Development Project, GOOP, is a top-down rogue-like arena shooter with fast and exciting gameplay. Features include implementing saving/loading functionalities, menu user interfaces, and collision handling.</p>
                  <div class="button"><a style="font: 16px/30px fSB, sans-serif;
                     background: #303c69;
                     display: inline-block;
                      text-decoration: none;
                     color: #fff;
                      padding: 12px 20px;
                      margin-bottom: 18px;
                     cursor: pointer;
                     height: auto;
                  
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     -khtml-border-radius: 3px;
                     border-radius: 3px;
                     margin-left: 15px;
                      width: 250px;" href="https://github.com/johnglass2003/GOOPDemo" target="_blank">Check Me Out on GitHub!</a></div>
               </div>
            </div>
         </div>
         </div>
         <div class="card">
            <div class="inner">
            <div class="face-face1">
               <div class="content">
                  <img src="/assets/DDLogo.png">
                  <h3>DailyDoodle</h3>
                  <p>Full Stack Project</p>
               </div>
            </div>
            <div class="face-face2">
               <div class="content">
                  <p>This is a website that generates a new "doodle" every day that the user draws and completes. The user may download and upload their drawing to the website. This website is powered by React and Php!</p>
                  <div class="button"><a style="font: 16px/30px fSB, sans-serif;
                     background: #303c69;
                     display: inline-block;
                      text-decoration: none;
                     color: #fff;
                      padding: 12px 20px;
                      margin-bottom: 18px;
                     cursor: pointer;
                     height: auto;
                  
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     -khtml-border-radius: 3px;
                     border-radius: 3px;
                     margin-left: 15px;
                      width: 250px;" href="https://github.com/johnglass2003/DailyDoodle" target="_blank">Check Me Out on GitHub!</a></div>
               </div>
            </div>
         </div>
         </div>
         </div>
         <div class="container">
         <div class="card">
            <div class="inner">
            <div class="face-face1">
               <div class="content">
                  <img src="/assets/VLogo.png">
                  <h3>VideoGameAnalyzer</h3>
                  <p>C++ Collaborative Project</p>
               </div>
            </div>
            <div class="face-face2">
               <div class="content">
                  <p>C++ Collaborative Project That Analyzes Data On Video Games Based On Many Categories. This program compares the efficiency of different sorting and search algorithms.</p>
                  <div class="button"><a style="font: 16px/30px fSB, sans-serif;
                     background: #303c69;
                     display: inline-block;
                      text-decoration: none;
                     color: #fff;
                      padding: 12px 20px;
                      margin-bottom: 18px;
                     cursor: pointer;
                     height: auto;
                  
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     -khtml-border-radius: 3px;
                     border-radius: 3px;
                     margin-left: 15px;
                      width: 250px;" href="https://github.com/johnglass2003/VideoGameAnalyzer" target="_blank">Check Me Out on GitHub!</a></div>
               </div>
            </div>
         </div>
         </div>
         <div class="card">
            <div class="inner">
            <div class="face-face1">
               <div class="content">
                  <img src="/assets/bracket.png">
                  <h3>Bracket App</h3>
                  <p>Web App For Creating and Managing Tournament Brackets</p>
               </div>
            </div>
            <div class="face-face2">
               <div class="content">
                  <p>This collaborative Web App allows the user to create custom brackets to keep track of tournament placings!</p>
                  <div class="button"><a style="font: 16px/30px fSB, sans-serif;
                     background: #303c69;
                     display: inline-block;
                      text-decoration: none;
                     color: #fff;
                      padding: 12px 20px;
                      margin-bottom: 18px;
                     cursor: pointer;
                     height: auto;
                  
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     -khtml-border-radius: 3px;
                     border-radius: 3px;
                     margin-left: 15px;
                      width: 250px;" href="https://github.com/shawnbanks1/CEN4721-Bracket-Project" target="_blank">Check Me Out on GitHub!</a></div>
               </div>
            </div>
         </div>
         </div>
         <div class="card">
            <div class="inner">
            <div class="face-face1">
               <div class="content">
                  <img src="/assets/GoopClear.png">
                  <h3>johnglass2003.github.io</h3>
                  <p>AgnularJS Personal Website</p>
               </div>
            </div>
            <div class="face-face2">
               <div class="content">
                  <p>Check out the source code I created for this website! It was built in AngularJS Framework and uses HTML, SCSS, and TypeScript.</p>
                  <div class="button"><a style="font: 16px/30px fSB, sans-serif;
                     background: #303c69;
                     display: inline-block;
                      text-decoration: none;
                     color: #fff;
                      padding: 12px 20px;
                      margin-bottom: 18px;
                     cursor: pointer;
                     height: auto;
                  
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     -khtml-border-radius: 3px;
                     border-radius: 3px;
                     margin-left: 15px;
                      width: 250px;" href="https://github.com/johnglass2003/johnglass2003.github.io" target="_blank">Check Me Out on GitHub!</a></div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </section>
   <section id="involvement" style=" background: #a1b9c5; ">
      <div class="overlay" style="padding-top: 90px;"></div>
      <div class="row section-intro">
         <div class="colA">
            <h5>Involvement</h5>
            <h1>My leadership positions and activities.</h1>
         </div>         
      </div>
      <div class="row involvement">
         <div class="columns main-col">
            <div class="row item">
               <div class="columns">
                  <h3 style="font-size: 25px;">Association for Computing Machinery, University of Florida</h3>
                  <p class="info">Mentor<span> - </span> <em class="date">Feb 2023 - Present</em></p>
                  <p style="margin-left: 30px;">
                     Connected with two mentees to offer professional and technical development advice<br>
                     Engaged in professional development workshops to enhance networking and interpersonal skills.
                  </p>
               </div>
            </div>
            <div class="row item">
               <div class="columns">
                  <h3 style="font-size: 25px;">Marjory Stoneman Douglas Coding Club</h3>
                  <p class="info">Game Design Teacher<span> - </span> <em class="date">August 2019 - May 2020</em></p>
                  <p style="margin-left: 30px;">
                  Organized game development classes for 20+ students. <br>
                  Taught Python, JavaScript, and GML. <br>
                  Recruited students into members of my class. 
                  </p>
               </div>
            </div>
            <div class="row item">
               <div class="columns">
                  <h3 style="font-size: 25px;">Chabad of Parkland</h3>
                  <p class="info">Hebrew Teacher<span> - </span> <em class="date">August 2016 - May 2020</em></p>
                  <p style="margin-left: 30px;">
                  Instructed over 25+ students in Hebrew Fundamentals with a passing rate of 98%. <br>
                  Facilitated daily functions throughout the educational program for 300+ students. <br>
                  </p>
               </div>
            </div>

            <div class="row item">
               <div class="columns">
                  <h3 style="font-size: 25px;">My Hobbies and Interests:</h3>
                  <li style="margin-left: 30px;">
                     I love to Golf with my family and even used to compete!<br>
                  </li>
                     <li style="margin-left: 30px;">
                     I love to play Jazz on the alto and tenor saxophone.<br>
                        <div style="margin-left: 30px;">
                        I have met Jazz Legends: Herbie Hancock, Wycliffe Gordon, and Paquito D'rivera when they played at my high school!<br>
                        I have experience "gigging" at restaurants.
                        </div>
                     </li>
                  <li style="margin-left: 30px;">
                     I was in high school marching band for 3 years and helped my school win state championships twice!<br>
                  </li>
                  <li style="margin-left: 30px;">
                     I also love to travel, cook, and play sports!<br>
                  </li>
               </div>
            </div>
            
         </div>
      </div>   
      <div style="padding-top: 90px;"></div>
   </section>
   <section id="contact">
      <div class="row section-intro">
         <div class="colA">
            <h5>Contact</h5>
            <h1>Connect With Me!</h1>
         </div> 
      </div>
      <div class="row contact-info">
         <div class="colC tab-full">
            <h5>Discord</h5>
            <p>
            JohnGlass#1711
            </p>
         </div>
         <div class="colC tab-full collapse">
            <h5>Email</h5>
            <p>johnglass0904@gmail.com<br>         
            </p>
         </div>
	 <div class="colC tab-full collapse">
            <h5>LinkedIn</h5>
            <a href="https://www.linkedin.com/in/john-g-6860931a6/" target="_blank">Connect</a>
         </div>
      </div> 
   </section> 
   <footer>
      <div class="row" style="width:100%; background: #4F4F4B;">
         <div class="columns" >
            <a>Created and Designed by John Glass</a>
         </div>
         <div id="go-top"><a class="ss" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
      </div>
   </footer>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>
   <style>
            @keyframes fadeIn5 {
  0% { opacity: 0; }
  83% { opacity: 0; }
  100% { opacity: 1; }
}
            @keyframes fadeIn4 {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
            @keyframes fadeIn3 {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
      @keyframes fadeIn2 {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
 header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: url("/assets/Oceanic.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;
    overflow: hidden;
 }
body { background: #4F4F4B; }

.intro-info img {
  height: 12rem; 
  width: 12rem; 
  border:1px solid rgb(75, 107, 247); 
  border-radius: 50%;
  margin: 0.9rem 1rem 0 2rem; 
  float: left;
}

      html, body, div
{
    margin: 0;
    vertical-align: center;
}

nav,section, header {
    display: block;
 }

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
       .colA {
    width: 100%;
    padding: 0 20px;
 }

.icon-down-circle
{
   border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  
 .colC {
    width: 33.33333%;
    padding: 0 20px; 
    display: inline-block;
   }

   ul  {
     margin-bottom: 24px; margin-top: 12px; 
     list-style: none outside; 

    }
    #contact {
  background: #6a6a67;
   padding-top: 12rem;
   padding-bottom: 7.2rem;
 }
 #contact .section-intro h1 {
   color: #fff;
 }
 #contact .section-intro h5 {
   color: #fff;
 }
 #resume .section-intro h1, h2 {
    color: #6a6a67;
  }
  .contact-info h5 {
   color: #fff;
 }
  #nav a:hover {
  background-color: #ddd;
  color: black;
}
      </style>
</body>
</html>
<router-outlet></router-outlet>